S3method(format,answerlist)
S3method(format,problem)
S3method(format,problemset)
export(answerlist)
export(examiner_latex_header)
export(examiner_opts)
export(problemset)
export(problemset_from_yaml)
import(plyr)
import(stringr)
import(whisker)
import(yaml)
